<div class="row">
    <div class="col-3">
        <h4>Account info</h4>
        <hr>
        <div class="mt-2">
            <label>First Name:</label>
            <p style="font-size: 22px;">{{account.firstName}}</p>
        </div>

        <div class="mt-4">
            <label>Last Name:</label>
            <p style="font-size: 22px;">{{account.lastName}}</p>
        </div>

        <div class="mt-4">
            <label>Email:</label>
            <p style="font-size: 22px;">{{account.email}}</p>
        </div>
    </div>

    <div class="col-4">
        <h4>Orders</h4>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th width="10%">ID</th>
                    <th width="90%">Created time</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders">
                    <td>{{order.id}}</td>
                    <td><a routerLink="/order-details/{{order.id}}">{{order.createdDate | date: 'y MMMM d, HH:mm'}}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-5">
        <h4>Reviews</h4>
        <hr>
        <div *ngFor="let review of reviews" class="card mb-3 mt-3">
            <div class="card-header">
                <img [src]="review.reviewerPhotoUrl" height="30px" class="rounded-circle">
                {{review.reviewerFirstName}} {{review.reviewerLastName}}
                <span style="float: right;"> {{review.duration}}</span>
            </div>
            <div class="card-body">
                {{review.review}}
            </div>
        </div>
    </div>
</div>