<div class="card mb-3">
    <div class="card-header">Find</div>
    <div class="input-group" style="padding: 15px;">
        <input type="text" class="form-control" placeholder="Search query...">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Go!</button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">Categories</div>
    <div class="list-group" style="border-radius: 0%;">
        <div *ngFor="let category of categories">
            <a routerLink="/products/{{category.id}}" routerLinkActive = "active"
             class="list-group-item list-group-item-action">{{category.name}}<span style="float: right;"
                class="badge badge-pill badge-secondary">{{category.count}}</span></a>
        </div>
    </div>
</div>